/*-------------------------------------------*/
/* container*/
/*-------------------------------------------*/


/*-------------------------------------------*/
/* part 1*/
/*-------------------------------------------*/

body{
	background-image: url(homepage-hero@2x.jpg);
	background-size: 1440px 790px;
    background-repeat: no-repeat;
}

.part-1 {
	
}

.part-1 li{
	list-style: none;
	display: inline-block;
	padding-left: 26px;
}

.part-1 a{
	text-decoration: none;
	color: #e5e5e5;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
}

.ul-1 {
	margin-right: 150px;
	margin-left: 50px;

}

.ul-2 a{
	color: #b0b0b0;
}

.part-1 ul {
	float: left;
}

.part-1>.ul-2 {
	float: right;
}

.ul-2 a:hover,
.ul-2 a:active{
	color: #e5e5e5;
}

.ul-2{margin-right: 20px;}    /*感觉这样写不对*/

/*-------------------------------------------*/
/* part 2*/
/*-------------------------------------------*/

.part-2{
	padding-top: 110px;
	text-align: center; 
}

h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	color: #e5e5e5;
	text-align: center;	
}

.a-1{
	font-family: 'Source Sans Pro', sans-serif;
	color: #d4d4d4;
	
}

/*这里有一个问题就是 鼠标点击的时候只有下划线变化了*/

.a-1:hover,
.a-1:active{
	color: #e5e5e5;
}


/*-------------------------------------------*/
/* part 3*/
/*-------------------------------------------*/


.part-3{
	text-align: center;
	padding-top: 40px;
}

.part-3 button{
	background-color: #5c5c5c;
	height: 40px;
	width: auto;
	color: #e5e5e5;
	border-radius: 0px;
	border: 0;
}

.part-3 button:hover,
.part-3 button:active{
	border: 1px #ffffff;
	height: 37px;
	transform: 5s;
}


/*-------------------------------------------*/
/* part 4*/
/*-------------------------------------------*/

.part-4{
	text-align: center;
	margin-top: 430px;
}
.part-4 li{
	display:inline-block;
	
}

.part-4 li a{
	text-decoration: none;
	color: #c5c5c5;
	padding: 2px;
	
}



